{% load i18n %}
<div class="detail">
<h4>{{occurrence.title}}</h4>
        {% ifequal occurrence.start.date occurrence.end.date %}
        {{ occurrence.start|date:_("DATE_FORMAT") }}, {{ occurrence.start|time:"G:i" }} - {{ occurrence.end|time:"G:i" }}
        {% else %}
        {{ occurrence.start|date:_("DATE_FORMAT") }}, {{ occurrence.start|time:"G:i" }} - {{ occurrence.end|date:_("DATE_FORMAT") }} {{ occurrence.end|time:"G:i" }}
        {% endifequal %}
    
    {% if occurrence.event.rule %}
        {% if not occurrence.id %}
            <tr>
                <td class="left">Reoccurs</td><td>{{occurrence.event.rule}}</td>
            </tr>
            {% if occurrence.event.end_recurring_period %}
                <tr>
                    <td class="left">Until</td>
                    <td>{% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endif %}
{% if occurrence.description %}
<h3>Description</h3>
<p>{{occurrence.description}}</p>
{% endif %}
</div>

