{% extends "schedule/event_form_base.html" %}
{% load i18n %}

{% block body %}
<h1>Editer un événement</h1>
<br/><br/>
<form action="" method="post">
    <fieldset>
        {% if error %}
		<div class="notification error png_bg">
			<div class="content">
				<ul>
	                <li>{{ error|safe }}</li>
	            </ul>
			</div>
		</div>
		{% endif %}
		<p>
		{{ form.title.errors }}
		<label>Objet:</label>
		{{ form.title }}
	    </p>
		<p class="dates">
		{{ form.start.errors }}
    	{{ form.end.errors }}
		<label>Date:</label>
		{{ form.start }} au {{ form.end }}
	    </p>
	    <p>
		{{ form.description.errors }}
		<label>description:</label>
		{{ form.description }}
	    </p>
        <br/>
        <input type="submit" value="{% trans "Save" %}"> ou <a href="{{next}}">Annuler</a>
        <input type="hidden" name="next" value="{{next|default:""}}"/>
    </fieldset>

</form>
{% endblock %}
